.login-form {
  width: 500px;
}

hr {
  display: inline-block;
  width: 220px;
}

.login-button-google {
  display: block;
  margin: 1em auto;
  width: 60%;
  color: white;
  background-color: #f13a59;
  outline: none;
  border: none;
  padding: 0 15px;
  height: 32px;
  border-radius: 4px;
  width: 400px;
}

.partition-span {
  padding: 5px;
  color: #f13a59;
  font-weight: bold;
}

.partition {
  margin-left: 9px;
}

.google-icon {
  margin: 5px;
}

.login-form-container {
  box-shadow: 0px 0px 9px 2px #a49e9e78;
  width: 500px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.error-div {
  position: absolute;
  top: 87%;
  left: 78%;
}
