.detailPage {
  margin-top: 5em;
  margin-bottom: 2em;
}

/* .event-detail-img {
  height: 400px;
  width: 50%;
  border-radius: 10px;
  margin: 1em;
} */

.event-detail-img-div{
  height: 400px;
  width: 50%;
}

.img-name {
  display: flex;
  margin-left: 20%;
  flex-direction: column;
}

.event-name-heading {
  margin-top: 2em;
  margin-left: 0.5em;
  color: #000000a6;
  font-size: 40px;
}

.event-span {
  font-size: 30px;
  margin: 2px;
  color: #000000a6;
  font-family: "Cookie", cursive;
}

.event-description-div {
  margin-left: 20%;
  margin-top: 2em;
}

.event-description {
  font-size: large;
  margin: 0;
  font-family: "Cookie", cursive;
  max-width: 60%;
}

.ticket-price {
  font-size: xx-large;
  margin-top: 1em;
  font-weight: normal;
  color: #000000a6;
}

.map {
  margin-left: 19%;
}

.show-map-div {
  margin-left: 20%;
  margin-top: 1em;
}

.show-map-btn {
  background-color: #f13a59;
  color: white;
  border: none;
  border-radius: 4px;
  height: 32px;
  padding: 0 15px;
  outline: none;
}
