.detailPage {
  background-color: #f0f2f5;
  padding-bottom: 2em;
}
.event-detail-div {
  /* border: 1px solid black; */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  background-color: white;
  padding: 5px;
  box-shadow: 0 4px 10px 0 rgba(22, 21, 55, 0.03), 0 0 10px 0 rgba(22, 21, 55, 0.02);
  border-radius: 3px;
}

.event-details-div {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.event-details-div > * {
  margin: 0;
 padding: 1em 5px;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.65); */
}

.event-detail-img {
  width: 1102px;
  height: 32em;
}

.img-name {
  display: flex;
  flex-direction: column;
}

.event-name-heading {
  color: #4f4556;
  font-size: 40px;
  margin: 0;
}

.event-span {
  font-size: 23px;
  margin: 2px;
  color: rgba(0, 0, 0, 0.65);
  margin-left: 8px;
}

.event-description {
  margin: 0;
  max-width: 100%;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.65);
}

.ticket-price {
  font-size: xx-large;
  margin-top: 1em;
  font-weight: normal;
  color: #000000a6;
}

.map div {
  margin: 0 !important;
  width: 100% !important;
}

.show-map-btn {
  background-color:#637d96 ;
  color: white;
  border: none;
  border-radius: 3px;
  height: 32px;
  padding: 0 15px;
  outline: none;
}

.ant-carousel .slick-slide {
  height: 32em !important;
  /* width: 45em !important; */
}

.event-detail-icon {
  color: #637d96;
  font-size: 1.5em;
}


@media only screen and (max-width: 900px) {
  .event-detail-div{
    width: 70%;
  }
}

@media only screen and (max-width: 425px) {
  .event-detail-div{
    width: 80%;
  }
}