.landing-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    140deg,
    #4a3d4d,
    #544e60,
    #5a6478,
    #627992,
    #6b90a7
  );
}

.landing-page-heading {
  color: white;
  outline: black;
  font-size: 75px !important;
  font-weight: 100;
  margin: 0;
}

.landing-page-button {
  padding: auto 15px;
  height: 45px;
  width: 175px;
  outline: none !important;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: large;
  font-weight: 200;
}

.landing-page-button:hover {
  box-shadow: 0px 0px 13px 2px #ffffff7a;
}

.landing-page-button:active {
  box-shadow: 0px 0px 13px 2px #ffffff7a;
  transition: 0.3s;
}

.landing-page-icon {
  margin-left: 5px;
  font-size: large;
}
