header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-button {
	margin: 10px;
	/* padding: 8px; */
}
h1 {
	font-family: 'Cookie', cursive;
	color: #f13a59;
	font-weight: bolder;
	font-size: xx-large;
	margin-left:5px;
	margin-top:2px;
}

.layout-style {
	background-color: white !important;
	min-height: 100vh !important;
}

.ant-carousel .slick-slide {
	text-align: center;
	height: 500px;
	background: #364d79;
}

.ant-carousel .slick-slide h3 {
	color: #fff;
}

img {
	width: 100vw;
	height: 500px;
}

.events-list {
	margin-top: 2em;
	text-align: center;
}

.events-list h1 {
	font-size: 50px;
	text-decoration: underline;
}

.sign-up {
	background-color: #f13a59;
	color: white;
	border: none;
	border-radius: 4px;
	height: 32px;
	padding: 0 15px;
	outline: none;
	border:none;
}

.sign-up:hover{
	cursor: pointer;
}